<section id="" class=" max-w-xs sm:max-w-sm md:max-w-lg lg:max-w-2xl mx-auto">
    <div class="container mx-auto">
        <div class="content text-center">
            <h2 class="text-8xl font-bold text-black tracking-widest">404</h2>
            <p class="text-xl font-medium uppercase my-4">Sorry! Page you are looking can’t be found.</p>
            <p class="text-gray-500 tracking-widest">Go back to the <a routerLink="/home" class="font-medium text-black underline underline-offset-4 p-0.5 hover:no-underline hover:bg-black hover:text-white transition-all duration-300">homepage</a></p>
        </div>
    </div>
    
</section>
